/* Estilos comuns para todas as páginas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #f2f2f2;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-image: url('https://via.placeholder.com/1200x400.png?text=Bem+Vindo+ao+Car+Store');
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 20px;
}

.products-section {
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 20px;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.contact-section {
    padding: 40px 20px;
    background-color: #333;
    color: white;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section label {
    display: block;
    margin-bottom: 10px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact-section button {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

